<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Domaxt</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="static/css/new.css">
    
</head>
<body>
    <div id="nav">
        <img src="static/img/logo.png" alt="">
        <li><a href="">Home</a></li>
        <li><a href="{% url 'shop' %}">Shop</a></li>
        <li><a href="">Sell</a></li>
        <li><a href="">Profile</a></li>
        
        <div id="login">
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
        </div>
    </div>

    <video autoplay loop muted src="static/video/Ad.mp4"></video>
   
    <div id="main">
        <div id="page1">
            <h1>Make Your Best Buisness</h1>
        </div>
        <div id="page2">
            <div id="scroller">
                <div id="scroller-1">
                    <h4>Solutions</h4>
                    <h4>Pricing</h4>
                    <h4>Resources</h4>
                    <h4>What's New</h4>
                </div>
                <div id="scroller-1">
                    <h4>Solutions</h4>
                    <h4>Pricing</h4>
                    <h4>Resources</h4>
                    <h4>What's New</h4>
                </div>
            </div>
            <div id="about-us">
                <img src="static/img/aboutUs img1.jpg" alt="">
                <div id="about-us-content">
                    <h3>ABOUT US</h3>
                    <p>We help people achieve independence by making it easier to start, run, and grow a business. 
                        We believe the future of commerce has more voices, not fewer, 
                        so we're reducing the barriers to business ownership to make commerce better for everyone.</p>
                </div>
                <img src="static/img/aboutUs img2.jpg" alt="">
            </div>
            <div id="cards-container">
                 <div class="card" id="card1">
                    <div class="overlay">
                        <h4></h4>
                        <p></p>
                    </div>
                 </div>
                 <div class="card" id="card2">
                    <div class="overlay">
                        <h4></h4>
                        <p></p>
                    </div>
                 </div>
                 <div class="card" id="card3">
                    <div class="overlay">
                        <h4></h4>
                        <p></p>
                    </div>
                 </div>
                 
            </div>
            <div id="blue-div">
                <img src="" alt="">
                <h4>SIGN UP FOR FREE</h4>
                <img src="" alt="">
            </div>
        </div>
        <div id="page3">
            <p>The most successful people started from NOTHING... 
                they didn't wait for the opportunity to knock but created the opportunity on their own... 
                worked hard and made history.
            </p>
            <img id="colon1" src="static/img/colon1.svg" alt="">
            <img id="colon2" src="static/img/colon2.svg" alt="">
        </div>
        <div id="page4">
            <h1>WHAT ARE YOU WAITING FOR?</h1>
            <div class="element">
                <h2>ELEMENT 1</h2>
            </div>
            <div class="element">
                <h2>ELEMENT 1</h2>
            </div>
            <div class="element">
                <h2>ELEMENT 1</h2>
            </div>
        </div>
        <div id="page5">
            <div class="footer" >
                <img src="static/img/logo.png" alt="">
                <div id="col">
                    <div class="col1">
                        <h4>Domax</h4>
                        <li><a href="">AboutUs</a></li>
                        <li><a href="">Investors</a></li>
                        <li><a href="">Patners</a></li>
                        <li><a href="">Services Status</a></li>
                    </div>
                    <div class="col2">
                        <h4>Domax</h4>                 
                        <li><a href="">AboutUs</a></li>
                        <li><a href="">Investors</a></li>
                        <li><a href="">Patners</a></li>
                        <li><a href="">Services Status</a></li>
                    </div>
                    <div class="col3">
                        <h4>Domax</h4>
                        <li><a href="">AboutUs</a></li>
                        <li><a href="">Investors</a></li>
                        <li><a href="">Patners</a></li>
                        <li><a href="">Services Status</a></li>
                    </div>
                </div>
            </div>
        </div><hr/>
        <div id="handles">
            <p>Copyright © 2024 All Rights Reserved by Domax.</p>

            <div id="social-media">
                <a href="" class="icon1 icon--instagram">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="#" class="icon1 icon--twitter">
                    <i class="ri-twitter-line"></i>
                </a>
                <a href="" class="icon1 icon--linkedin">
                    <i class="ri-linkedin-line"></i>
                </a>
                <a href="" class="icon1 icon--github">
                    <i class="ri-github-line"></i>
                </a>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" 
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" 
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/static/js/script.js"></script>
</body>
</html>